/* MAIN COLORS
main background: #E5E5E5;
secondary background: #2F303A;
main text: #212121;
nav color:#2196F3;
second text color:#757575;
white color: #FFFFFF;
address color:rgba(255, 255, 255, 0.6);
button-text-color:#F5F4FA;
*/
:root {
  --main-text-color: #212121;
  --second-text-color: #757575;
  --nav-color: #2196f3;
  --add-text-color: #ffffff;
  --add-background-color: #2f303a;
  --address-color: rgba(255, 255, 255, 0.6);
  --button-text-color: #f5f4fa;
  --add-nav-color: #000000;
  --background: #e5e5e5;
  --buttom-line-portfolio: #ececec;
  --border-line-portfolio: #eeeeee;
  --sociai-icon-color: #afb1b8;
}

/* GENERAL SECTION */

html {
  box-sizing: border-box;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

body {
  font-family: Roboto, sans-serif;
  color: var(--main-text-color);
  margin: 0;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.link {
  text-decoration: none;
  padding: 0;
  margin: 0;
}

.container {
  width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
  /* outline: 3px dotted blueviolet; */
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/***********HEADER **********/
.page-header {
  /* border-bottom: 1px solid var(--buttom-line-portfolio); */
}

.header {
  display: flex;
}

.logo {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--nav-color);
  margin-right: 93px;
}

.accent {
  color: var(--add-nav-color);
}

.main-nav,
.add-nav,
.nav {
  display: flex;
  margin-top: 0;
  margin-bottom: 0;
  align-items: center;
}

.add-nav {
  margin-left: auto;
}

.main-nav .link,
.add-nav .link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;

  display: block;
  padding-top: 32px;
  padding-bottom: 32px;
}

.main-nav .link {
  color: var(--main-text-color);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.add-nav .link {
  color: var(--second-text-color);
  align-items: center;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.main-nav .link:hover,
.main-nav .link:focus {
  color: var(--nav-color);
}

.main-nav .link.current {
  color: var(--nav-color);
}

.main-nav .item {
  position: relative;
}

.current::after {
  position: absolute;
  display: inline-block;
  content: "";
  height: 4px;
  width: 100%;
  background-color: var(--nav-color);
  border-radius: 2px;
  bottom: 0;
  left: 0;
}

.add-nav .link:hover,
.add-nav .link:focus {
  color: var(--nav-color);
}

.main-nav .item:not(:last-child),
.add-nav .item:not(:last-child) {
  margin-right: 50px;
}

.item .env-phone {
  display: flex;
  align-items: center;
}

.item-nav {
  fill: var(--second-text-color);
  margin-right: 10px;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.env-phone:hover .item-nav,
.env-phone:focus .item-nav {
  fill: var(--nav-color);
}
/***********************************************/
/********* INDEX.HTML**************/
/***********************************************/

/*********** HERO SECTION **************/

.hero {
  /* height: 600px; */
  max-width: 1600px;
  margin-left: auto;
  margin-right: auto;
  color: var(--add-text-color);
  background-color: var(--add-background-color);
  letter-spacing: 0.06em;
  text-align: center;
  padding-top: 200px;
  padding-bottom: 200px;

  background-image: linear-gradient(
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url(../images/heroimg.jpg);
}

.hero-title {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  margin-bottom: 30px;
  margin-top: 0px;
}

.btn {
  display: inline-block;
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  color: var(--add-text-color);
  background-color: var(--nav-color);
  padding: 10px 32px;
  min-width: 200px;
  border: none;
  border-radius: 4px;
  cursor: pointer;

  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.btn:hover,
.btn:focus {
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

/*********** VALUES SECTION **************/
.values-description {
  padding-top: 94px;
  padding-bottom: 94px;
}

.values {
  display: flex;
  font-size: 14px;
  letter-spacing: 0.03em;
  margin-top: 0;
  margin-bottom: 0;
}

.values-title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  margin-top: 30px;
  margin-bottom: 10px;
}

/* .values .item::before {
  display: block;
  content: "";
  height: 120px;

  background-color: var(--button-text-color);
  background-position: center;
  background-repeat: no-repeat;
}

.antenna::before {
  background-image: url(../images/antenna.svg);
}

.clock::before {
  background-image: url(../images/clock.svg);
}

.diagram::before {
  background-image: url(../images/diagram.svg);
}

.astronaut::before {
  background-image: url(../images/astronaut.svg);
} */

.value-list {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 120px;
  background-color: var(--button-text-color);
}

.values-info {
  font-size: 14px;
  line-height: 1.71;
  color: var(--second-text-color);
  margin-top: 0;
  margin-bottom: 0;
}

.values .item {
  width: 270px;
}

.values .item:not(:last-child) {
  margin-right: 30px;
}

/*********** PRODUCT SECTION **************/
.product-description {
  padding-bottom: 94px;
}

.product {
  margin-top: 0;
}

.title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
  margin-top: 0;
  margin-bottom: 50px;
}

.product-photos {
  display: flex;
  margin: 0;
}

.product-photos .item:not(:last-child) {
  margin-right: 30px;
}

.photo {
  display: block;
  justify-content: center;
}

.product-thumb {
  position: relative;
}
.product-app {
  display: flex;
  position: absolute;
  height: 70px;
  width: 100%;
  background-color: rgba(47, 48, 58, 0.8);

  bottom: 0;
  left: 0;

  align-items: center;
  justify-content: center;
}

.decision {
  display: block;
  color: var(--add-text-color);
  margin: 0;
}
/*********** TEAM SECTION **************/
.team {
  background-color: #ccc;
  padding-bottom: 94px;
  padding-top: 94px;
  background-color: var(--button-text-color);
}

.team-info {
  display: flex;
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  margin: 0;
}

.team-info .item.item:not(:last-child) {
  margin-right: 30px;
  justify-content: center;
}

.team-info .item {
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  width: 270px;
  background-color: var(--add-text-color);
}

.list {
  display: block;
}

.team-name {
  padding-top: 30px;
  padding-bottom: 30px;
}

.team-member {
  font-weight: 500;
  font-size: 16px;
  margin-top: 0;
  margin-bottom: 10px;
  text-align: center;
}
.team-position {
  /* font-weight: 400; */
  color: var(--second-text-color);
  margin-top: 0;
  margin-bottom: 16px;

  text-align: center;
}

/* **************ICONS("LOVE THEM")********************* */
.logos-list {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  margin-top: 0;
}

.logo-item {
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  height: 44px;
  width: 44px;
  background-color: none;

  border-radius: 50%;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.snet-item:not(:last-child) {
  margin-right: 10px;
}

.logo-snet {
  fill: var(--sociai-icon-color);
  /* margin: 12px; */

  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.logo-item:hover,
.logo-item:focus {
  background-color: var(--nav-color);
}

.logo-item:hover .logo-snet,
.logo-item:focus .logo-snet {
  fill: var(--add-text-color);
}

/* ***********SECTION CLIENTS********************* */
.clients {
  padding-top: 94px;
  padding-bottom: 94px;
}

.clients-list {
  display: flex;
}

.clients-list .item:not(:last-child) {
  margin-right: 30px;
}

.client-item {
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  width: 170px;
  height: 92px;
  border: 1px solid var(--sociai-icon-color);
  border-radius: 4px;
  align-items: center;

  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.client-item:hover,
.client-item:focus {
  border-color: var(--nav-color);
}

.client-logo {
  fill: var(--sociai-icon-color);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.client-item:hover .client-logo,
.client-item:focus .client-logo {
  fill: var(--nav-color);
}

/***********************************************/
/********* PORTFOLIO.HTML**************/
/***********************************************/
.photos {
  padding-top: 94px;
  padding-bottom: 94px;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}
/*************SECTION  BUTTONS **********************/

.apps {
  display: flex;

  margin-bottom: 50px;
  justify-content: center;
}

.apps .item:not(:last-child) {
  margin-right: 8px;
}

.btn-ptfolio {
  border: none;
}

.btn-ptfolio {
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--add-nav-color);
  background-color: var(--button-text-color);

  cursor: pointer;
  padding-top: 6px;
  padding-bottom: 6px;
  padding-right: 22px;
  padding-left: 22px;
  border-radius: 4px;

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.btn-ptfolio:hover,
.btn-ptfolio:focus {
  color: var(--add-text-color);
  background-color: var(--nav-color);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

/*************SECTION PROJECTS **********************/

.project {
  display: flex;
  flex-wrap: wrap;
  /* background-color: rgb(207, 129, 12); */

  margin: 0;
  padding: 0;
  list-style: none;

  margin-left: -30px;
  margin-top: -30px;
}

.project > .item {
  flex-basis: calc(100% / 3 - 30px);
  margin-left: 30px;
  margin-top: 30px;
}

.item .card {
  display: inline-block;
  text-decoration: none;
  box-shadow: none;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.item .card:hover,
.item .card:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}

.card-thumb {
  position: relative;
  overflow: hidden;
}

.card:hover .card-info,
.card:focus .card-info {
  opacity: 1;
  transform: translateY(0);
}

.card-info {
  position: absolute;
  display: flex;

  background-color: rgba(33, 150, 243, 0.9);
  padding: 63px 24px;
  height: 100%;
  top: 0;
  left: 0;
  opacity: 1;
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.card-text {
  font-family: Roboto;
  font-size: 18px;
  line-height: 1.56;
  letter-spacing: 0.03em;
  color: var(--add-text-color);

  margin: 0;
}

.project-name {
  padding: 24px 20px;
  border-right: 1px solid var(--border-line-portfolio);
  border-left: 1px solid var(--border-line-portfolio);
  border-bottom: 1px solid var(--border-line-portfolio);
}

.project-title {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  margin: 0;
  margin-bottom: 4px;
  color: var(--main-text-color);
}
.project-type {
  /* font-weight: 400; */
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.03em;
  color: var(--second-text-color);
  margin: 0;
}

/*************FOOTER***************/
.footer {
  background-color: var(--add-background-color);
  font-size: 14px;
  letter-spacing: 0.03em;
  padding-top: 60px;
  padding-bottom: 60px;
}

.contact-address {
  display: flex;
  align-items: baseline;
}

.second {
  margin-right: 0;
}
.accent-footer {
  color: var(--add-text-color);
}

.contacts {
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;

  justify-content: flex-start;

  margin-top: 20px;
}

.contact-place {
  color: var(--add-text-color);
  margin: 0;
  margin-bottom: 9px;
}

.contacts-info .link {
  color: rgba(255, 255, 255, 0.6);
}

.contacts-info .item:not(:last-child) {
  margin-bottom: 9px;
}

.join-block {
  margin-left: 70px;
}
.join-title {
  font-family: Roboto;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;

  letter-spacing: 0.03em;
  padding: 0;
  margin-top: 0;
  margin-bottom: 31px;
  margin-left: auto;
  margin-right: auto;

  color: var(--add-text-color);
}

.add-block {
  margin-left: 0;
}

.join-items:not(:last-child) {
  margin-right: 10px;
}

.footer-block {
  fill: var(--add-text-color);
}
.bgc-footer {
  background-color: rgba(255, 255, 255, 0.1);
}
/* ****SUBMIT BLOCK***** */
input {
  padding: 0;
  margin: 0;
  appearance: none;
}

.submit-block {
  margin-left: 93px;
}

.submit-moto {
  margin-bottom: 20px;
}

.submit-part {
  display: flex;
}
.input-submit {
  height: 50px;
  width: 358px;
  background-color: transparent;

  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;

  padding-left: 16px;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    box-shadow 2500ms cubic-bezier(0.4, 0, 0.2, 1);
}

.input-sumbit:hover,
.input-submit:focus {
  outline: transparent;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-color: var(--nav-color);
}

.submit-part input::placeholder {
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

.button-submit {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 12px;
  box-shadow: transparent;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.button-submit:hover,
.button-submit:focus {
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

.submit-svg {
  margin-left: 10px;
  fill: var(--add-text-color);
}
/* **********MODAL WINDOW WITH INFORMATION*********** */
/* .modal-window {
  margin-left: auto;
  margin-right: auto;
  padding: 40px;
} */

.modal-title {
  font-family: "Roboto";
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.03em;

  color: var(--main-text-color);
  margin-top: 0;
  margin-bottom: 12px;
}

.modal-field {
  display: flex;
  flex-direction: column;
  position: relative;
  margin-bottom: 10px;
}

.label-field {
  font: inherit;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: var(--second-text-color);
  margin-bottom: 4px;
}

.input-field {
  width: 100%;
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  padding-left: 35px;

  outline: transparent;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.input-field:hover,
.input-field:focus {
  border-color: var(--nav-color);
}

.input-field:hover ~ .modal-svg,
.input-field:focus ~ .modal-svg {
  fill: var(--nav-color);
}

.modal-svg {
  position: absolute;
  display: inline-block;
  top: 50%;
  left: 0;
  margin-left: 12px;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.textarea-field {
  margin-bottom: 20px;
}

.feedback-part {
  margin-top: 4px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  outline: transparent;
  margin-bottom: 0;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.feedback-part::placeholder {
  color: rgba(117, 117, 117, 0.5);
}

.feedback-part:hover,
.feedback-part:focus {
  border-color: var(--nav-color);
}

textarea {
  resize: none;
  width: 100%;
  height: 120px;
  padding: 12px 16px;
}

.checkbox-label {
  display: flex;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--second-text-color);
  align-items: center;

  margin-bottom: 30px;
}

.checkbox-link {
  color: var(--nav-color);
  margin-left: 5px;
}

.chechbox-input {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  position: absolute;
}
.checkbox-svg {
  display: inline-block;
  border: 2px solid var(--add-nav-color);
  border-radius: 4px;
  margin-right: 8px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.checkbox-input:checked + .checkbox-svg {
  background-color: var(--nav-color);
  background-image: url(../images/icon-check.svg);
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  background-origin: border-box;
  border-color: var(--nav-color);
}

.checkbox-input:focus + .checkbox-svg {
  border-color: var(--nav-color);
}

.btn-field {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

/* *********************SECTION BACKDROP************************ */

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  transform: scale(1);

  transition: transform 250ms, opacity 250ms, scale 250ms;
}

.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
  transform: scale(0);
}

.modal {
  display: flex;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 528px;
  height: 581px;
  background-color: var(--add-text-color);
  opacity: 1;
  padding: 40px;
}

.modal-button {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  right: 8px;
  top: 8px;
  padding: 0;
  margin: 0;
  background-color: #fff;
  height: 30px;
  width: 30px;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1);

  /* margin-right: 8px;
  margin-top: 8px; */
}

.modal-icon {
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-button:hover .modal-icon,
.modal-button:focus .modal-icon {
  fill: var(--nav-color);
}
