.gallery {
  padding-top: 94px;
  padding-bottom: 94px;
}

.grid {
  @extend %ul;
  display: flex;
  margin-bottom: 50px;
  justify-content: center;
}

.grid__item:not(:last-child) {
  margin-right: 8px;
}
