$color-primary: #212121;
$color-accent: #2196f3;
$color-secondary: #757575;
$color-additional: #ffffff;
$color-background: #2f303a;
$color-addbackground: #f5f4fa;
$color-logo: #000000;
$color-portfolio-nav: #ececec;
$color-cardline: #eeeeee;
$color-icon: #afb1b8;

$font-family-primary: Roboto;
$font-family-secondary: Raleway;
$font-family-third: sans-serif;
